
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.container {
    width: 100%;
    overflow: auto;
    top: 45px;
    position: absolute;
    z-index: 10;
    bottom: 0px;
}

.container .content {
    height: 100%;
    padding: 10px;
}

.search input {
    max-height: 34px !important;
}

.status-unaudit {
    background-color: #245580;
    color: #fff;
    padding: 5px;
}

.status-pass {
    background-color: #3e8f3e;
    color: #fff;
    padding: 5px;
}

.status-reject {
    background-color: #b92c28;
    color: #fff;
    padding: 5px;
}

.status-discard {
    background-color: #ddd;
    color: #333;
    padding: 5px;
}

#app-detail-panel .tab-content {
    display: block !important;
    padding: 0px;
    min-height: calc(100% - 35px);
    margin-bottom: 10px;
    border: solid 1px #eee;
}

#app-detail-panel .nav-tabs > li > a {
    border-radius: 0px;
}

#app-detail-panel .control-label, .modal .control-label {
    padding-left: 15px;
    padding-right: 15px;
}


#app-detail-panel td, #app-detail-panel td {
    padding-bottom: 0px;
}

.auto-enable {
    display: none;
}

.auto-enable + label {
    cursor: pointer;
    height: 30px !important;
    width: 73px !important;
    display: inline;
    padding: 11px 9px;
    border-radius: 7px;
    display: inline-block;
    position: relative;
    margin-right: 30px;
    margin-bottom: 0px;
    background: #F7836D;
    width: 55px;
    height: 10px;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1), 0 0 10px rgba(245, 146, 146, 0.4);
}

.auto-enable + label:before {
    content: ' ';
    position: absolute;
    background: #FFF;
    top: 0px;
    z-index: 99999;
    left: 0px;
    width: 24px;
    color: #FFF;
    height: 32px;
    border-radius: 7px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.6);
}

.auto-enable + label:after {
    content: 'OFF';
    position: absolute;
    top: 7px;
    left: 37px;
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    left: 8px;
    top: 4px;
    border-radius: 100px;
}

.auto-enable:checked + label {
    background: #67A5DF;
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.1), 0 0 10px rgba(146, 196, 245, 0.4);
}

.auto-enable:checked + label:after {
    content: 'ON';
    left: 6px;
}

.auto-enable:checked + label:before {
    content: ' ';
    position: absolute;
    z-index: 99999;
    left: 49px;
}


.auto-enable + label:after {
    left: 35px;
}

.auto-enable + label:before {
    width: 21px;
    height: 22px;
    top: 4px;
    left: 4px;
}

.auto-enable:checked + label:before {
    left: 49px;
}

.auto-enable + label:after, .auto-enable + label:before, .auto-enable label {
    -webkit-transition: all 0.1s ease-in;
    transition: all 0.1s ease-in;
}
