.form-control {
    height: 10px;
    width: auto;
    display: inline;
    padding: 10px 12px;
}

.content-container {
    width: 100%;
    /*overflow: auto;*/
    top: 46px;
    position: absolute;
    z-index: 10;
    bottom: 0px;
}

.content-container .echart-body {
    margin-top: 20px;
    width: 100%;
    height: 330px;
}
.content-container .echart-center {
    width: 100%;
    height: 3%;
    margin-bottom: 10px;
}

.content-container .echart-point {
    padding: 20px;
    width: 100%;
    height: 65%;
}

.square-green {
    width: 5px;
    height: 5px;
    float: left;
    margin-right: 20px;
    color: #00bb00;
}

.square-red {
    width: 5px;
    height: 5px;
    float: left;
    margin-right: 20px;
    color: #bb2e44;
}

.square-black {
    width: 5px;
    height: 5px;
    float: left;
    margin-right: 20px;
    color: #000000;
}

.modal-body {
    overflow-y: scroll;
    height: 700px;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1060;
    display: none;
    max-width: 2000px; /*设置一个较大值*/
    padding: 1px;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:14px;
    font-style:normal;
    font-weight:400;
    line-height:1.42857143;
    text-align:left;
    text-align:start;
    text-decoration:none;
    text-shadow:none;
    text-transform:none;
    letter-spacing:normal;
    word-break:normal;
    word-spacing:normal;
    word-wrap:normal;
    white-space:normal;
    background-color:#fff;
    -webkit-background-clip:padding-box;
    background-clip:padding-box;
    border:1px solid #ccc;
    border:1px solid rgba(0,0,0,.2);
    border-radius:6px;
    -webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);
    box-shadow:0 5px 10px rgba(0,0,0,.2);
    line-break:auto;
}

div p{
    font-weight: bold;
}