html, body {
    height: 100%;
    margin: 0;
    padding: 0
}

.help-container {
    width: 100%;
    overflow: auto;
    top: 45px;
    position: absolute;
    z-index: 10;
    bottom: 0px;
}

.content {
    padding: 20px;
    margin-left: 20%;
    width: 80%;
}

.content > ul, ol {
    list-style: square !important;
}

.content .tab-info {
    top: 30px;
    position: relative;
}

.content .panel {
    float: left;
    border: none;
}

.content .panel-left {
    width: 50%;
}

.content .panel-profiler-left {
    width: 30%;
    float: left;
}

.content .panel-profiler-right {
    width: 65%;
    float: right;
}

.content .panel-right {
    width: 49%;
    margin-left: 1%;
}

.content .panel-full {
    width: 100%;
}

.content input {
    height: 34px;
    line-height: 34px;
    border-radius: 0px;
    border: solid 1px #ccc !important;
    outline: none;
}

.content input:hover, .content input:focus {
    border: solid 1px #36c6c8 !important;
    transition: border-color 0.5s linear;
}

.content .curve {
    padding: 8px 0;
    margin-bottom: 15px;
    border: solid 1px #eee;
    height: 300px;
    width: 100%;
}

.content table {
    table-layout: fixed;
    width: 100%;
    word-break: break-all;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
}

.content table td {
    vertical-align: middle;
}

.content th, .content td {
    border: none;
    border-top: 1px solid #ddd !important;
}

.content .tab-info .panel .panel-body {
    padding: 0px;
}

.content .tab-info .panel table {
    margin: 0px;
    border: none;
}

.menu {
    border-radius: 0px !important;
    position: fixed;
    width: 20%;
    background-color: #eeeeee44;
    overflow: auto;
    top: 45px;
    bottom: 0px;
    border-right: solid 1px #eee;
}

.menu .first-level {
    border-radius: 0px !important;
    font-size: 16px;
}

.menu .second-level {
    border-radius: 0px !important;
    padding-left: 40px;
    font-size: 15px;
}

.menu .list-group-item {
    border-right: none;
}

#thread-info .run {
    color: #00c853;
}

.progress {
    margin: 0px;
    background-color: #eee;
    color: #000;
}

.progress-bar {
    background-color: #36c6c8;
    color: #000;
}

.progress-value {
    position: absolute;
    left: 10px;
    background-color: #ff000000;
}

.host-model .modal-dialog {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.host-model .modal-content {
    /*overflow-y: scroll; */
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.host-model .modal-body {
    overflow-y: auto;
    position: absolute;
    top: 55px;
    bottom: 10px;
    width: 100%;
}

.host-model .modal-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.bootstrap-table .search input {
    width: 100%;
    height: 34px !important;
    padding-left: 15px;
    border: solid 1px #ccc !important;
    outline: none;
}

.bootstrap-table button[name="refresh"] {
    border-radius: 0px;
}

.second-tab-menu {
    margin-top: -10px;
    margin-left: -20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 11px;
    position: fixed;
    z-index: 999;
    width: 100%;
    background: #eee;
}

.second-tab-container {
    margin-top: 60px;
    position: absolute;
}

.highlight-style {
    background-color: #ffff00;
    color: #000;
}

pre {
    position: relative;
    border: solid 1px #ccc;
    border-left: none;
    border-radius: 0px;
    background: #FFF;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    white-space: pre !important;
}

code {
    white-space: pre !important;
    display: block;
    overflow-y: auto;
    overflow-x: auto !important;
}

.hljs ol {
    padding: 0px;
    margin: 0px;
}

.hljs ol li {
    margin: 0px !important;
    list-style-type: none;
}

.line-number {
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    width: 50px;
    position: absolute;
    font-size: 14px !important;
    line-height: 1.5 !important;
    border: solid 1px #ccc;
}

.line-number .selected {
    background-color: #ff0000;
    color: #fff;
}

.line-number .selected:hover {
    background-color: #ff0000 !important;
    color: #fff !important;
}

.code-line {
    margin-left: 50px;
    font-size: 14px !important;
    line-height: 1.5 !important;
}

.code-line .selected {
    background-color: #eee !important;
}

.line-number .number {
    height: 20px;
    font-size: 14px !important;
    line-height: 1.5 !important;
}

.line-number .number:hover {
    background-color: #eee;
}

.code-line .line {
    font-size: 14px !important;
    line-height: 1.5 !important;
    height: 20px;
}

.code-line .line:hover {
    background-color: #eee;
}

.code-line .line .code-content {
    margin-left: 10px;
    margin-right: 10px;
}

.content .panel-profiler-left {
    width: 30%;
    float: left;
}

.content .panel-profiler-right {
    width: 68%;
    float: right;
}

.profiler-option-div {
    display: flex;
}

.profiler-option-left {
    width: 150px;
}

.profiler-option-input {
    margin-left: 6px;
}

.modal-profiler {
    width: 300px;
    margin: auto;
}

