code,
kbd,
pre,
samp {
    font-family: Monospace,Consolas;
    font-size: 14px;
}

.jqconsole span {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap !important;
}

.mainnav a.nav1 {
    color: #418CC6;
    text-decoration: none;
    background: #EFF3F8;
}

/* The console container element */
.console {
    border: none !important;
    height: calc(100% - 10px);
    width: 100%;
    position: relative;
    margin: 10px auto 0px auto;
}

.full-screen-console {
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
}

.console-li {
    height: 100%;
}

.console-content {
    background-color: #0a2833;
    line-height: 20px;
    font-size: 1.2em;
}

/* The inner console element. */
.jqconsole {
    padding: 10px;
    background-color: #0a2833;
}

/* The cursor. */
.jqconsole-cursor {
    background-color: gray;
    width: 8px;
}

/* The cursor color when the console looses focus. */
.jqconsole-blurred .jqconsole-cursor {
    background-color: #ffffff;
}

.jqconsole-header {
    color: #ad8920;
}

.jqconsole-prompt-prefix {
    color: #ad8920;
}

/* The current prompt text color */
.jqconsole-prompt {
    color: #fff;
}

/* The command history */
.jqconsole-old-prompt {
    color: #eee;
    font-weight: normal;
}

/* The text color when in input mode. */
.jqconsole-input {
    color: #dd0;
}

/* Previously entered input. */
.jqconsole-old-input {
    color: #bb0;
    font-weight: normal;
}

/* The text color of the output. */
.jqconsole-output {
    color: #ccd;
    font-size: 14px;
}

#dialog label,
#dialog input {
    display: block;
}

#dialog label {
    margin-top: 0.5em;
}

#dialog input,
#dialog textarea {
    width: 95%;
}

#tabs {
    margin-top: 0px;
    padding: 0px;
    border: none;
    height: 100%;
}

#tabs li .ui-icon-close {
    float: left;
    margin: 0.4em 0.2em 0 0;
    cursor: pointer;
}

#add_tab {
    cursor: pointer;
}

.ui-autocomplete {
    max-height: 300px;
    overflow-y: auto;
    /* 防止水平滚动条 */
    overflow-x: hidden;
    z-index: 1500;
}
.jqconsole-ansi-bold {
    font-weight: bold !important;
}

.jqconsole-ansi-lighter {
    font-weight: lighter !important;
}

.jqconsole-ansi-italic {
    font-style: italic !important;
}

.jqconsole-ansi-underline {
    text-decoration: underline !important;
}

@-webkit-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@-moz-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@-ms-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

@-o-keyframes blinker {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.jqconsole-ansi-blink {
    -webkit-animation-name: blinker;
    -moz-animation-name: blinker;
    -ms-animation-name: blinker;
    -o-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -ms-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -o-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -moz-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -o-animation-duration: 1s;
    -ms-animation-duration: 1s;
}

.jqconsole-ansi-blink-rapid {
    -webkit-animation-name: blinker;
    -moz-animation-name: blinker;
    -ms-animation-name: blinker;
    -o-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -ms-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -o-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -moz-animation-timing-function: cubic-bezier(1.0, 0, 0, 1.0);
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -ms-animation-duration: 0.5s;
}


.jqconsole-ansi-hidden {
    visibility: hidden !important;
}

.jqconsole-ansi-line-through {
    text-decoration: line-through;
}

.jqconsole-ansi-fonts-1 {

}

.jqconsole-ansi-fonts-2 {

}

.jqconsole-ansi-fonts-3 {

}

.jqconsole-ansi-fonts-4 {

}

.jqconsole-ansi-fonts-5 {

}

.jqconsole-ansi-fonts-6 {

}

.jqconsole-ansi-fonts-7 {

}

.jqconsole-ansi-fonts-8 {

}

.jqconsole-ansi-fonts-9 {

}

.jqconsole-ansi-fraktur {

}

.jqconsole-ansi-color-black {
    color: black !important;
}

.jqconsole-ansi-color-red {
    color: red !important;
}

.jqconsole-ansi-color-green {
    color: green !important;
}

.jqconsole-ansi-color-yellow {
    color: #007798 !important;
}

.jqconsole-ansi-color-blue {
    color: #0099ff !important;
}

.jqconsole-ansi-color-magenta {
    color: magenta !important;
}

.jqconsole-ansi-color-cyan {
    color: cyan !important;
}

.jqconsole-ansi-color-white {
    color: white !important;
}

.jqconsole-ansi-background-color-black {
    background-color: black !important;
}

.jqconsole-ansi-background-color-red {
    background-color: red !important;
}

.jqconsole-ansi-background-color-green {
    background-color: green !important;
}

.jqconsole-ansi-background-color-yellow {
    background-color: yellow !important;
}

.jqconsole-ansi-background-color-blue {
    background-color: blue !important;
}

.jqconsole-ansi-background-color-magenta {
    background-color: magenta !important;
}

.jqconsole-ansi-background-color-cyan {
    background-color: cyan !important;
}

.jqconsole-ansi-background-color-white {
    background-color: #efe8d6 !important;
    color: #007798;
}

.jqconsole-ansi-framed {
    border: 1px solid !important;
}

.jqconsole-ansi-overline {
    text-decoration: overline !important;
}