<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- console -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{yyyy-MM-dd HH:mm:ss:SSS} QTraceId[%X{qtraceid}] [%thread] %5p %c:%L] %m%n</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

    <logger name="qunar.tc.bistoury.agent.common.job" level="debug"/>

</configuration>
